---
import BaseLayout from '@layouts/BaseLayout.astro'
import People from '@components/People.astro'
import ImageBox from '@components/ImageBox.astro'
import Organization from '@components/Organization.astro'

import { type ConfigModel } from '@ts/Models'

import dataRaw from "@src/config.json";
const data:ConfigModel = dataRaw;

let leadership = data.people.filter(function(person) {
      return person.leadership;
 });

let people = data.people.filter(function(person) {
    return !person.leadership;
});

let clients = data.clients.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0));
---
<BaseLayout name={data.name}>
  <section class="section">
    <div class="columns">
        <Organization org={data} columns={true}, logo={dataRaw.logo}/>
        <People people={leadership} columns={true}/>
      </div>
    </div>
  </section>
  {(people.length >0 ) &&
    <section class="section">
        <h1 class="title has-text-white text-shadow-danger">Our Team</h1>
      <div class="columns is-multiline">
        <People people={people} columns={true} />
      </div>
    </section>
  }
  {(data.clients.length > 0) && 
    <section class="section">
        <div class="has-text-danger title text-shadow-success">
          Clients
        </div>
      <div class="columns is-multiline">
      {
        clients.map((client) => (
          <div class="column is-one-quarter">
            <div class="box has-background-success box-shadow-danger">
              {"logo" in client && 
                <div class="block client-logo">
                  <a href={client.url} aria-label={"Go to website of ".concat(client.name)}><ImageBox src={client.logo} alt={"Logo of ".concat(client.name)} /></a>
                </div>
              }
              <ul>
                <li class="has-text-danger"><a href={client.url}>{client.name}</a></li>
                <li class="has-text-danger">{client.office.city}, {client.office.state}</li>
              </ul>
            </div>
          </div>  
          )
        )
      }
      </div>
    </section>
  }
</BaseLayout>

<style>
  .client-logo :global(img) {
    margin: auto;
    filter: grayscale(100%) brightness(10000%);
    max-height: 4em;
    width: auto;
    padding: 0.125em;
  }

  .client-logo :global(.tile-image) {
    padding: 0em;
  }
</style>