---
import BaseLayout from '@layouts/BaseLayout.astro'
import People from '@components/People.astro'
import Organization from '@components/Organization.astro'
import { ViewTransitions } from 'astro:transitions'

import { type ConfigModel } from '@ts/Models'

import dataRaw from "@src/config.json";
const data:ConfigModel= dataRaw;

let leadership = data.people.filter(function(person) {
      return person.leadership;
 });

 let people = data.people.filter(function(person) {
      return !person.leadership;
 });

---
<BaseLayout name={data.name}>
  <section class="section">
  <div class="columns">
      <Organization org={data} columns={true}/>
      <People people={leadership} columns={true}/>
    </div>
  </div>
  </section>
  {(people.length >0 ) &&
    <section class="section">
      <h1 class="title has-text-white">Who We Are</h1>
        <div class="columns is-multiline">
        <People people={people} columns={true} />
        </div>
    </section>
  }
</BaseLayout>
<ViewTransitions/>

<style>
</style>