---
import Layout from '@layouts/Layout.astro'
import People from '@components/People.astro'
import Client from '@components/Client.astro'
import Organization from '@components/Organization.astro'

import { type ConfigModel } from '@ts/Models'

import dataRaw from "@src/config.json";
const data:ConfigModel = dataRaw;

let leadership = data.people.filter(function(person) {
      return person.leadership;
});

let clients = data.clients.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0));
---
<Layout name={data.name}>
  <div class="mt-3">
    <div class="block">
      <div class="columns">
        <Organization org={data} columns={true}, logo={dataRaw.logo}/>
        <People people={leadership} columns={true}/>
      </div>
    </div>
    {(data.clients.length > 0) && 
    <div class="box box-shadow">
        <div class="title">
          Clients
        </div>
        <hr/>
        <div class="grid is-col-min-10">
        {
          clients.map((client) => (
            <Client {client}/>
            )
          )
        }
        </div>
      </div>
    }
    </div>
  </div>
</Layout>