---
import ContentLayout from '../layouts/ContentLayout.astro';
import { Icon } from 'astro-icon/components'

import people from "../people.json";
import comp from "../config.json";
---
<ContentLayout name={comp.name}>
  <div class="columns">
    <div class="column is-one-half">
        <div class="box">
          <div class="block">
            <p class="title is-4">{comp.name}</p>
            <p class="subtitle is-4">{comp.subtitle}</p>
          </div>
          <div class="block">
            <ul>
              <li>{comp.email && <a href={"mailto:".concat(comp.email)}>{comp.email}</a>}</li>
              <li>{comp.phone && <a href={"tel:".concat(comp.phone)}>{comp.phone}</a>}</li>
              <li>{comp.office.address}</li>
              <li>{comp.office.city}, {comp.office.state} {comp.office.postal}</li>
            </ul>
          </div>
          <div class="block">
              {
                comp.socials.map((platform) => (
                  <span><a href={platform.url}><Icon name={"mdi:".concat(platform.name.toLowerCase())} size={28} /></a></span>
                ))
              }
          </div>
        </div>
    </div>
    <div class="column is-one-half">
    {
        people.leadership.map((person) => (
            <div class="box">
              <div class="block">
                <p class="title is-4">{person.name}{person.creds && ", ".concat(person.creds.join(", "))} {person.pronouns  && <span class="has-text-weight-light">({person.pronouns})</span>}</p>
                <p class="subtitle is-4">{person.roles && person.roles.join(", ")}</p>
                <p>{person.email && <a href={"mailto:".concat(person.email)}>{person.email}</a>}</p>
              </div>
              <div class="block">
                <p>{person.bio}</p>
              </div>
              <div class="block">
                <div class="tags">
                  {
                    person.skills.map((skill) => (
                      <span class="tag is-primary">{skill}</span>
                    ))
                  }
                </div>
              </div>
              <div class="block">
                  {
                    person.socials.map((platform) => (
                      <span><a href={platform.url}><Icon name={"mdi:".concat(platform.name.toLowerCase())} size={28} /></a></span>
                    ))
                  }
              </div>
            </div>
        ))
    }
    </div>
  </div>
</ContentLayout>