---
import ImageBox from "@components/ImageBox.astro";

const { client } = Astro.props;
---

<div class="cell">
    {
        "logo" in client && (
            <div class="block">
                <a
                    href={client.url}
                    aria-label={"Go to website of ".concat(client.name)}
                >
                    <ImageBox
                        src={client.logo}
                        square={true}
                        alt={"Logo of ".concat(client.name)}
                        _class="padded monochrome box-shadow"
                    />
                </a>
            </div>
        )
    }
    <div class="block">
        <ul>
            <li><a href={client.url}>{client.name}</a></li>
            <li>{client.office.city}, {client.office.state}</li>
        </ul>
    </div>
</div>
