---
import { Icon } from 'astro-icon/components'

import { type NavModel } from '@ts/Models'

interface Props {
  navItems: NavModel[];
}

import data from "@src/config.json";

const { navItems } = Astro.props;
---

<footer class="footer has-background-danger">
  <section class="section">
  <div class="columns">
    <div class="column is-one-third">
      <div class="block">
        <p class="title is-6 has-text-white">{data.name}{data.corp_form && ", ".concat(data.corp_form)}</p>
        <p class="subtitle is-6 has-text-white">{data.subtitle}</p>
      </div>
      <div class="block">
          {
            data.socials.map((platform) => (
                <span><a href={platform.url} class="has-text-white"><Icon name={"mdi:".concat(platform.name.toLowerCase())} size={28} /></a></span>
            ))
          }
      </div>
    </div>
    <div class="column is-one-third">
      <ul>
      {
            navItems.map((item) => (
                <li><a href={item.path} class="has-text-white">{item.title}</a></li>
            ))
      }
      </ul>
    </div>
    <div class="column is-one-third">
      <ul>
        <li>{data.email && <a href={"mailto:".concat(data.email)} class="has-text-white">{data.email}</a>}</li>
        <li>{data.phone && <a href={"tel:".concat(data.phone)} class="has-text-white">{data.phone}</a>}</li>
        <li class="has-text-white">{data.office.address}</li>
        <li class="has-text-white">{data.office.address2}</li>
        <li class="has-text-white">{data.office.city}, {data.office.state} {data.office.postal}</li>
      </ul>
    </div>
  </div>
  </section>
</footer>