---
import { Icon } from 'astro-icon/components'

import { type NavModel, type ConfigModel, type NameURLModel } from '@ts/Models'

import { Image } from 'astro:assets';
import mitLogo from '../assets/mit_lockup_micro-one-line_rgb_black.svg';

interface Props {
  navItems: NavModel[];
  parent?: NameURLModel;
}

import dataRaw from "@src/config.json";
const data:ConfigModel= dataRaw;

const iconSize = 20;

const { navItems, parent } = Astro.props;
---

<footer class="footer has-background-success">
  <section class="section">
  <div class="columns">
    <div class="column is-one-third">
      <div class="block">
        <p class="has-text-danger has-text-weight-bold">{data.name}{data.corp_form && ", ".concat(data.corp_form)}</p>
        <p class="has-text-danger">{data.subtitle}</p>     
        {parent && 
          <p class="has-text-danger"><a href={parent.url}>{parent.name}</a></p>
        }
      </div>
      <div class="block">
        <a href="https://mit.edu">
        <Image 
          src={mitLogo} 
          alt="MIT Logotype."
          height="24"
        />
        </a>
      </div>
    </div>
    <div class="column is-one-third">
      <ul>
      {
            navItems.map((item) => (
                <li><a href={item.path} class="has-text-danger">{item.title}</a></li>
            ))
      }
      {
        data.socials.map((platform) => (
        <li><a href={platform.url} class="has-text-danger">{platform.name}</a></li>
        ))
      }
      </ul>
    </div>
    <div class="column is-one-third">
      <ul>
        <li>{data.email && <a href={"mailto:".concat(data.email)} class="has-text-danger">{data.email}</a>}</li>
        <li>{data.phone && <a href={"tel:".concat(data.phone)} class="has-text-danger">{data.phone}</a>}</li>
        <li class="has-text-danger">{data.office.address}</li>
        <li class="has-text-danger">{data.office.address2}</li>
        <li class="has-text-danger">{data.office.city}, {data.office.state} {data.office.postal}</li>
      </ul>
    </div>
  </div>
  </section>
</footer>