---
import { Icon } from 'astro-icon/components'

import comp from "../config.json";

interface Props {
  navItems: object[];
}

const { navItems } = Astro.props;
---

<footer class="footer has-background-danger">
  <section class="section">
  <div class="columns">
    <div class="column is-one-third">
      <div class="block">
        <p class="title is-6 has-text-white">{comp.name}{comp.corp_form && ", ".concat(comp.corp_form)}</p>
        <p class="subtitle is-6 has-text-white">{comp.subtitle}</p>
      </div>
      <div class="block">
          {
            comp.socials.map((platform) => (
                <span><a href={platform.url} class="has-text-white"><Icon name={"mdi:".concat(platform.name.toLowerCase())} size={28} /></a></span>
            ))
          }
      </div>
    </div>
    <div class="column is-one-third">
      <ul>
      {
            navItems.map((item) => (
                <li><a href={item.path} class="has-text-white">{item.title}</a></li>
            ))
      }
      </ul>
    </div>
    <div class="column is-one-third">
      <ul>
        <li>{comp.email && <a href={"mailto:".concat(comp.email)} class="has-text-white">{comp.email}</a>}</li>
        <li>{comp.phone && <a href={"tel:".concat(comp.phone)} class="has-text-white">{comp.phone}</a>}</li>
        <li class="has-text-white">{comp.office.address}</li>
        <li class="has-text-white">{comp.office.city}, {comp.office.state} {comp.office.postal}</li>
      </ul>
    </div>
  </div>
  </section>
</footer>