---
import {type NameURLModel } from '@ts/Models';
interface Props {
  title: string;
  subtitle: string;
  logo: string;
  parent?: NameURLModel;
}

const { title, subtitle, parent, logo } = Astro.props;

let photopath = logo && '/src/assets/'.concat(logo);

import { Image } from 'astro:assets';
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif,svg}')

---

<section class="hero is-fullheight">
    <div class="hero-body is-fullwidth" style="z-index:1000">
        <div class="box box-shadow columns is-fullwidth is-vcentered" style="width:100%">
            <div class="column is-one-fifth has-text-centered">
                <Image 
                    src={images[photopath]()} 
                    alt={"Logo of ".concat(title)}
                     />
            </div>
            <div class="column">
                <h1 class="title is-size-1"> {title}</h1>
                <p class="subtitle is-size-2">{subtitle}</p>
                {parent &&
                    <p class="subtitle is-size-3"><a href={parent.url}>{parent.name}</a></p>
                }
            </div>
        </div>
    </div>
</section>