---
import { Icon } from 'astro-icon/components'
import AboutCard from '@components/AboutCard.astro'
import markdownit from 'markdown-it'
import ImageBox from '@components/ImageBox.astro'
const md = markdownit()

import { type OrgModel } from '@ts/Models'

interface Props {
  org: OrgModel;
  logo: string;
  columns: boolean;
}

const iconSize = 20;

const { org, logo, columns = true} = Astro.props;
---
<AboutCard columns={columns}>
  <div class="block">
    <div class="columns is-vcentered">
    <div class="column is-one-quarter has-text-centered">
      <ImageBox 
          class:list={["image-shadow-success"]}
          src={logo} 
          alt={"Logo of ".concat(org.name)}
            />
    </div>
    <div class="column">
      <p class="title is-4 has-text-danger">{org.name}</p>
      <p class="subtitle is-4 has-text-danger">{org.subtitle}</p>
      {org.parent && 
        <p class="has-text-danger"><a href={org.parent.url}>{org.parent.name}</a></p>
      }   
    </div>
  </div>
  </div>
  <div class="block">
    <p class="has-text-danger" set:html={md.renderInline(org.description)}></p>
  </div>
  <div class="block">
    <ul>
      <li>{org.email && <a href={"mailto:".concat(org.email)} class="has-text-danger">{org.email}</a>}</li>
      <li>{org.phone && <a href={"tel:".concat(org.phone)} class="has-text-danger">{org.phone}</a>}</li>
      <li class="has-text-danger">{org.office.address}</li>
      <li class="has-text-danger">{org.office.address2}</li>
      <li class="has-text-danger">{org.office.city}, {org.office.state} {org.office.postal}</li>
    </ul>
  </div>
  {"bookingurl" in org && 
  <div class="block">
    <a href={org.bookingurl} class="button is-success box-shadow-danger has-text-danger">Book a Consultation</a>
  </div>
  }
  <div class="block">
      {
        org.socials.map((platform) => (
          <div class="tag is-medium is-success has-text-danger">
            <span class="icon mr-2">
              <Icon name={"mdi:".concat(platform.name.toLowerCase())} size={iconSize} />
            </span>
            <a href={platform.url} class="has-text-danger">{platform.url.split("/").pop()}</a>
          </div>
        ))
      }
  </div>
</AboutCard>