---
import { Icon } from 'astro-icon/components'
import AboutCard from '@components/AboutCard.astro'
import markdownit from 'markdown-it'
const md = markdownit()

import { type OrgModel } from '@ts/Models'

interface Props {
  org: OrgModel;
  columns: boolean;
}

const { org, columns = true} = Astro.props;
---
<AboutCard columns={columns}>
  <div class="block">
    <p class="title is-4 has-text-danger">{org.name}</p>
    <p class="subtitle is-4 has-text-danger">{org.subtitle}</p>
  </div>
  <div class="block">
    <p class="has-text-danger" set:html={md.renderInline(org.description)}></p>
  </div>
  <div class="block">
    <ul>
      <li>{org.email && <a href={"mailto:".concat(org.email)} class="has-text-danger">{org.email}</a>}</li>
      <li>{org.phone && <a href={"tel:".concat(org.phone)} class="has-text-danger">{org.phone}</a>}</li>
      <li class="has-text-danger">{org.office.address}</li>
      <li class="has-text-danger">{org.office.address2}</li>
      <li class="has-text-danger">{org.office.city}, {org.office.state} {org.office.postal}</li>
    </ul>
  </div>
  {"bookingurl" in org && 
  <div class="block">
    <a href={org.bookingurl} class="button is-success box-shadow-success">Book a Consultation</a>
  </div>
  }
  <div class="block">
      {
        org.socials.map((platform) => (
          <span><a href={platform.url}  class="has-text-danger"><Icon name={"mdi:".concat(platform.name.toLowerCase())} size={28} /></a></span>
        ))
      }
  </div>
</AboutCard>