---
import { Icon } from 'astro-icon/components';
import AboutCard from '@components/AboutCard.astro'
import ImageBox from '@components/ImageBox.astro'

import markdownit from 'markdown-it';

import { type PersonModel } from '@ts/Models'

const md = markdownit();

interface Props {
  person: PersonModel;
  columns?: boolean;
}

const { person, columns = false} = Astro.props;

---
<AboutCard columns={columns}>
  <div class="block">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        {"photo" in person && 
          <div class="tile is-child is-4">
            <ImageBox src={person.photo} alt={"Photo of ".concat(person.name)} />
          </div>}
        <div class="tile is-child is-8">
          <p class="title is-4 has-text-white">{person.name}{person.creds && ", ".concat(person.creds.join(", "))}</p>
          <p class="subtitle is-4 has-text-white">{person.roles && person.roles.join(", ")}</p>
          <p class="has-text-white">{person.pronouns}</p>
          <p>{person.email && <a href={"mailto:".concat(person.email)} class="has-text-white">{person.email}</a>}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="block">
    <p class="has-text-white" set:html={md.renderInline(person.bio)}></p>
  </div>
  <div class="block">
      {
        person.socials.map((platform) => (
          <span><a href={platform.url} class="has-text-white"><Icon name={"mdi:".concat(platform.name.toLowerCase())} size={28} /></a></span>
        ))
      }
  </div>
</AboutCard>