---
import Header from '@components/Header.astro';
import Globe from '@components/Globe.astro';
import Footer from '@components/Footer.astro';
import { SEO } from "astro-seo";
import { ClientRouter } from "astro:transitions";
import { getSecret } from 'astro:env/server';

import '../styles.scss';

const key = getSecret('PUBLIC_MAPBOX_KEY');

interface Props {
  name: string;
}

const { name } = Astro.props;

const navItems = null;

import { type ConfigModel } from '@ts/Models'
import dataRaw from "@src/config.json";
const data:ConfigModel = dataRaw;

const logoPath = "logo" in data ? '/src/assets/'.concat(data.logo) : "";

---
<!DOCTYPE html>
<html lang="en">
	<head>
		<SEO
			title={name},
			description={data.description},
			charset="utf-8",
			canonical="https://ographiesresearch.com",
			openGraph={{
				basic: {
					title: `${data.subtitle}`,
					type: "website",
					image: "https://github.com/ographiesresearch/ographiesresearch.github.io/raw/refs/heads/main/src/assets/logo_medium.png",
					url: "https://ographiesresearch.com"
				},
				optional: {
					description: `${data.subtitle}`,
    				locale: "en_US",
					siteName: `${name}P`
				}
			}}
		/>
    	<meta charset="utf-8">
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<section class="section is-fullheight">
			<div class="container" id="content">
				{navItems &&
					<Header {navItems}/>
				}
				<slot/>
			<Globe
			sec={data.map.sec}
			lat={data.map.lat} 
			lng={data.map.lng}
			zoom={data.map.zoom}
			style={data.map.style}
			bearing={data.map.bearing}
			pitch={data.map.pitch}
			color={data.map.color}
			light={data.map.light}
			linewidth={data.map.linewidth}
			interactive={data.map.interactive}
			accesstoken={key}/>
			</div>
		</section>
		<Footer navItems = {navItems}, parent = {data.parent}/>
	</body>
</html>
<ClientRouter />